<div class="cont">
	<div class="half">
		<img src="https://www.refinery29.com/images/9941243.jpg" alt="">
	</div>
	<div class="half">
		<h1 class="home_title">
			sostieni l'conomia circolare
		</h1>
		<p>
			Benvenuti nel nostro sito dedicato al mercato dell'usato, il luogo ideale per acquistare e vendere oggetti di qualità a prezzi convenienti. Siamo qui per offrirti un'ampia selezione di prodotti provenienti da diverse categorie, tra cui abbigliamento, elettronica, mobili e molto altro ancora. Scegliere l'usato non solo ti permette di risparmiare, ma contribuisce anche a ridurre l'impatto ambientale, promuovendo uno stile di vita sostenibile.
		</p>
	</div>
</div>